:root {
    --bg-color: black;
    --text-color: white;
    --primary-color: #c7b073;
}

html, body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: "Almarai", sans-serif;
}

/* PageLayout content includes navigation bar content, body content, and footer content */
.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.content {
    flex: 1;
    padding: 0 15px;
}

footer {
    display: flex;
    flex-flow: column wrap;
    border-top: 1px solid var(--text-color);
    opacity: 0.5;
    font-size: .75rem;
    padding: 5px 0;
}

footer div {
    text-align: center;
    margin: 5px 0;
}

.headline {
    max-width: 1200px;
    margin: 0 auto;
}

.spacing {
    letter-spacing: 2px;
}


.gold {
    color: var(--primary-color);
}

.center {
    margin: 0 auto;
    text-align: center;
}

.homepageContent {
    
}

@media only screen and (max-width: 600px) {
    html, body {
        /*letter-spacing: -2px;*/
    }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: var(--text-color);
}
