:root {
    --bg-color: black;
    --text-color: white;
    --gold-color: rgba(193, 136, 40, 1);
    --yellow-color: rgba(249, 195, 46, 1);
}

html, body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: "Libre Caslon Display", serif;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: 1px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--gold-color);
}

footer {
    font-size: .75rem;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* utility classes */
.no-underline {
    text-decoration: none;
}

.letter-spacing {
    letter-spacing: 1px;
}

.button-appearance {
    padding: 1rem 1.5rem;
    border: 1px solid var(--gold-color);
    background: linear-gradient(to right,var(--gold-color), var(--yellow-color));
    border-radius: 3rem;
    text-decoration: none;
    font-size: 1.5rem;
}

.transition {
    transition: 0.333s ease-in-out;
}

.gold {
    color: var(--gold-color);
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text {
    text-align: center;
}

.block {
    display: block;
    width: 100%;
}

.lr-padding {
    padding: 0 2%;
}

.tb-padding {
    padding: 1rem 0;
}

.no-margin-top {
    margin-top: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.column-container {
    display: flex;
    flex-direction: column;
}



#content {
    flex: 1;
}

#homepage-logo-img {
    display: inline-block;
    max-width: 35vw;
    height: auto;
}

#homepage-pricing-button {
    color: var(--bg-color);
    font-weight: bold;
    font-size: 2rem;
    border-radius: 4rem;
    margin: 0 auto;
    display: block;
    width: fit-content;
}

#homepage-pricing-button:hover {
    font-size: 2.5rem;
    border-radius: 4rem;
    box-shadow: 0px 0px 4px 0px var(--yellow-color);
}



/* navigation bar styles */
nav {
    border-bottom: 1px solid var(--gold-color);
    font-size: 2rem;
}

#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar-logo-link {
    text-decoration: none;
    font-weight: bold;
}

#navbar-logo-link:hover {
    color: var(--gold-color);
}

#navbar-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar-container li {
    display: inline-block;
    color: var(--gold-color);
    font-size: 1.75rem;
    padding: .25rem;
}

#navbar-container li a {
    color: var(--yellow-color);
    text-decoration: none;
    padding: 0rem 1rem;
}

#navbar-container li:last-child > a {
    padding: 0 0 0 1rem;
}

#navbar-container li a:hover {
    color: var(--text-color);
}


/* prevent purple links */
a#developer, a#developer:visited, a#navbar-logo-link, a#navbar-logo-link:visited, a#coming-soon-home-link, a#coming-soon-home-link:visited {
    color: var(--text-color);
}

a#navbar-logo-link:hover, a#developer:hover {
    color: var(--gold-color);
}

/* mobile */
@media only screen and (max-width: 950px){
    #homepage-logo-img {
        max-width: 60vw;
    }
}

@media only screen and (max-width: 480px){
    .logo {
        width: 400px;
        height: auto;
    }

    nav {
        font-size: 1.25rem;
    }

    #navbar-container li {
        font-size: 1.5rem;
    }


    #homepage-logo-img {
        max-width: 90vw;
    }
}