ul > li {
    font-size: 1.5rem;
    opacity: 1;
    letter-spacing: 1px;
}

.link {
    padding: 1rem 1.5rem;
    border: 1px solid var(--gold-color);
    background: linear-gradient(to right,var(--gold-color), var(--yellow-color));
    color: black;
    font-weight: bold;
    border-radius: 3rem;
    text-decoration: none;
    font-size: 2rem;
    display: block;
    margin: 0 auto 2rem auto;
    width: 60%;
}

.link:hover {
    font-size: 2.5rem;
    border-radius: 4rem;
    box-shadow: 0px 0px 4px 0px var(--yellow-color);
}

@media only screen and (max-width: 480px){
    .link {
        width: auto;
    }
}

.pricing-table {
    font-size: 1.25rem;
    margin: 0 auto;
    text-align: left;
}

.pricing-table td {
    padding: .75rem 0;
    font-weight: bold;
}

.pricing-table > caption {
    color: var(--yellow-color);
    font-size: 2rem;
    font-weight: bold;
}

.pricing-table > thead > tr > th {
    color: var(--gold-color);
    font-size: 1.5rem;
}

.pricing-table .second-col {
    text-align: center;
}

